<%#
# Enum Form Partial

This partial renders an input element for enum attributes.
By default, the input is a select field for the enum attributes.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Enum][1].
  A wrapper around the enum attributes pulled from the model.

%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
  field.attribute,
  options_for_select(
    f.object.class.public_send(field.attribute.to_s.pluralize).map do |k, v|
      [I18n.t("activerecord.attributes.#{f.object.class.name.underscore}.#{field.attribute.to_s.pluralize}.#{k}", default: k.humanize), k]
    end,
    f.object.public_send(field.attribute.to_s)
  ),
  { include_blank: field.include_blank_option || !f.object.class.validators_on(field.attribute.to_s).map(&:class).include?(ActiveRecord::Validations::PresenceValidator) },
  field.html_options) %>
</div>
